[submodule "Velocity/vendor/spdlog"]
	path = Velocity/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Velocity/vendor/GLFW"]
	path = Velocity/vendor/GLFW
	url = https://github.com/matt-aquino/glfw
[submodule "Velocity/vendor/ImGui"]
	path = Velocity/vendor/ImGui
	url = https://github.com/matt-aquino/imgui
[submodule "Velocity/vendor/glm"]
	path = Velocity/vendor/glm
	url = https://github.com/g-truc/glm.git
